doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/main-style.css")
    title Members Only
  body 
    h1 Lol
    button.btn.btn-primary Lol
    button.btn.btn-disabled disabled
    a(href="") Lol.com 