extend layout 

block content


  if locals.currentUser && locals.currentUser.membershipStatus == 'member'
    #main-actions
      a(href="/message/add") 
        button.btn.btn-success.btn-lg Create a new post

  #messages-wrapper 
    for i in (Array(10))
      .message-item 
        .message-header 
          p.message-author Anonymous  
          p.message-timestamp Posted on: 17/08/2020
        .message-body
          h3.message-title Lorem ipsum dolor.
          p.message-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit odit ipsa sequi nisi nemo, accusamus illo esse quisquam architecto tempora vitae harum tenetur voluptatum? Veniam quae fugit tempore consectetur ullam.