extend layout 

block content
  
  form.form.container-sm(action="", method='POST')
    h2 Log in 
    .form-group 
      label(for="") Username 
      input(type="text", name='username')
    .form-group 
      label(for="") Password 
      input(type="password", name="password")
    if error
      p.error-msg #{error}
    button(type="submit", class='btn btn-success btn-full') Submit