extend layout 

block content

  form.form.container-sm(action="", method='POST')
    h2 Are you sure you want to delete this message?
    button(type="submit", class='btn btn-danger btn-full') Delete

