extend layout 

block content

  form.form.container-sm(action="", method='POST')
    h2 Make a new post
    .form-group 
      label(for="") Title
      input(type="text", name='title', required)
    .form-group 
      label(for="") Content
      textarea(name="content", cols="30", rows="10") 
    if error
      p.error-msg #{error}
    button(type="submit", class='btn btn-success btn-full') Submit

